@using System.Collections
@using System.Web.Mvc.Html
@using RefugeeHousing.Services
@using Resources
@model List<RefugeeHousing.Models.Listing>


<h2 class="display-1">@LocalizedText.AvailableProperties</h2>

<p>@(LocalizedText.PriceGivenPerMonth).</p>

<hr>
<div class="col-md-3">
    <label>Filter by:</label>
</div>
<div class="col-md-3">
    <label>@LocalizedText.Bedrooms:</label>
        @Html.DropDownList("filter-min-bedrooms-text", PropertyFilterService.GetMinRoomsFilterList())
</div>
<div class="col-md-3">
    <label>@LocalizedText.Furnished?:</label>
        @Html.DropDownList("filter-furnished-text", PropertyFilterService.GetFurnishedFilterList())
</div>

<div class="col-md-3">
    <label>@LocalizedText.Price:</label>
        @Html.DropDownList("filter-max-price-text", PropertyFilterService.GetMaxMonthlyRentFilterList())
</div>
<br>
<hr>
<table id="listings-table" class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>@LocalizedText.Reference</th>
        <th>@LocalizedText.Bedrooms</th>
        <th>@LocalizedText.Furnished?</th>
        <th>@LocalizedText.Price</th>
    </tr>
    </thead>
    @foreach (var listing in Model)
    {
        <tr>
            <td>@listing.Id</td>
            <td>@listing.NumberOfBedrooms</td>
            <td>@(listing.Furnished ? LocalizedText.Yes : LocalizedText.No)</td>
            <td>€@listing.Price</td>
        </tr>
    }
</table>
