@using System.Collections
@using System.Web.Mvc.Html
@using RefugeeHousing.Services
@using Resources
@model List<RefugeeHousing.Models.Listing>


<h2 class="display-1">@LocalizedText.AvailableProperties</h2>

<p>@(LocalizedText.PriceGivenPerMonth).</p>

<hr>
<div class="row">
  <div class="col-xs-12 col-sm-3">
    <label>Filter by:</label>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <label>@LocalizedText.Bedrooms</label>
      @Html.DropDownList("filter-min-bedrooms-text", PropertyFilterService.GetMinRoomsFilterList(), new { @class = "form-control" })
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <label>@LocalizedText.Furnished</label>
      @Html.DropDownList("filter-furnished-text", PropertyFilterService.GetFurnishedFilterList(), new { @class = "form-control" })
    </div>
  </div>

  <div class="col-xs-12 col-sm-3">
    <div class="form-group">
      <label>@LocalizedText.Price</label>
      @Html.DropDownList("filter-max-price-text", PropertyFilterService.GetMaxMonthlyRentFilterList(), new { @class = "form-control" })
    </div>
  </div>
</div>
<br>
<hr>
<table id="listings-table" class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>@LocalizedText.Reference</th>
        <th>@LocalizedText.Bedrooms</th>
        <th>@LocalizedText.Furnished</th>
        <th>@LocalizedText.Price</th>
      <th></th>
    </tr>
    </thead>
    @foreach (var listing in Model)
    {
        <tr>
            <td>@listing.Id</td>
            <td>@listing.NumberOfBedrooms</td>
            <td>@(listing.Furnished ? LocalizedText.Yes : LocalizedText.No)</td>
            <td>€@listing.Price</td>
            <td>@Html.ActionLink("Details", "Details", "Properties", new { id = listing.Id }, null)</td>
        </tr>
    }
</table>
