@model RefugeeHousing.Models.Listing

@{
    ViewBag.Title = "Add new listing";
}

<h2>Add new listing</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Number of bedrooms:</label>
        @Html.TextBoxFor(model => model.NumberOfBedrooms, new { @class = "form-control", type = "number", placeholder = Resources.LocalizedText.NumberOfBedrooms })
    </div>

    <div class="form-group">
        <label>Price per month (€):</label>
        @Html.TextBoxFor(model => model.Price, new {@class = "form-control", type = "number", min = "1", step = "1", placeholder = "Enter price per month"})
    </div>

    <div class="form-group">
        <label>Languages spoken:</label>
        @Html.TextBoxFor(model => model.LanguagesSpoken, new {@class = "form-control", placeholder = "e.g. Greek, English, etc."})
    </div>

    <div class="form-group">
        <label>Appliances included:</label>
        @Html.TextBoxFor(model => model.Appliances, new {@class = "form-control", placeholder = "e.g. Fridge, Dishwasher, etc."})
    </div>

    <div class="form-check">
        <label>
            @Html.CheckBoxFor(model => model.Furnished)
            Furnished
        </label>
    </div>

    <div class="form-check">
        <label>
            @Html.CheckBoxFor(model => model.Elevator)
            Elevator
        </label>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Register new listing" />
}