@model RefugeeHousing.ViewModels.AddListing

@{
    ViewBag.Title = Resources.LocalizedText.AddNewListing;
}

<h2>@Resources.LocalizedText.AddNewListing</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "add-property-form"}))
{
    <div class="form-group">
        <label>@Resources.LocalizedText.NumberOfBedrooms</label>
        @Html.TextBoxFor(model => model.NumberOfBedrooms, new { @class = "form-control", type = "number", required = "required"})
    </div>

    <div class="form-group">
        <label>@Resources.LocalizedText.PricePerMonth (€)</label>
        @Html.TextBoxFor(model => model.Price, new {@class = "form-control", type = "number", min = "1", step = "1", required = "required"})
    </div>

    <div class="form-group">
        <label>@Resources.LocalizedText.LanguagesSpoken</label>
        @Html.TextBoxFor(model => model.LanguagesSpoken, new {@class = "form-control", placeholder = Resources.LocalizedText.LanguagesSpokenPlaceholder, required = "required"})
    </div>

    <div class="form-group">
        <label>@Resources.LocalizedText.Location</label>
        <input type="text" id="location" class="form-control" placeholder="@Resources.LocalizedText.LocationPlaceholder" />
        @Html.HiddenFor(model => model.PlaceId, new {id = "place_id"})
    </div>

    <div class="form-group">
        <label>@Resources.LocalizedText.AppliancesIncluded</label>
        @Html.TextBoxFor(model => model.Appliances, new {@class = "form-control", placeholder = Resources.LocalizedText.AppliancesIncludedPlaceholder})
    </div>

    <div class="form-check">
        <label>
            @Html.CheckBoxFor(model => model.Furnished)
            @Resources.LocalizedText.Furnished
        </label>
    </div>

    <div class="form-check">
        <label>
            @Html.CheckBoxFor(model => model.Elevator)
            @Resources.LocalizedText.Elevator
        </label>
    </div>

    <div class="form-check">
        <label>
            <input type="checkbox" name="rent_to_refugees" required/>
            @Resources.LocalizedText.WillRentToRefugees
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register new listing"/>
}

<script type="text/javascript" src="~/Scripts/autocompleteLocation.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=@(Resources.ApiKeys.GoogleMapsJavaScriptApi)&callback=initAutocomplete" async defer></script>
<script type="text/javascript" src="~/Scripts/placeIdValidator.js"></script>