﻿﻿@using RefugeeHousing.Models
@using RefugeeHousing.Translations
@using Resources
﻿@using RefugeeHousing.Translations
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Refugee Housing Project</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css">
  <script src="/Scripts/require.js"></script>
  <script type="text/javascript">
    require.config({
      baseUrl: "/scripts",
      paths: {
        jquery: "jquery-1.10.2.min",
        'datatables.net': "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min",
        'datatables': 'https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min',
        'googlemaps': 'https://maps.googleapis.com/maps/api/js?libraries=places&key=' + '@(System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleApiKey"])'
      }
    });
  </script>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(LocalizedText.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(LocalizedText.AllProperties, "Index", "Properties")</li>
                        <li>@Html.ActionLink(LocalizedText.AddProperty, "Add", "MyProperties")</li>
                    }
                </ul>
                <div class="navbar-right">
                    @Html.Partial("_LoginPartial")
                    <ul class="nav navbar-nav language-options">
                        @foreach (Language language in Enum.GetValues(typeof (Language)))
                        {
                            <li>
                                @Html.ActionLink(language.GetName(),"SetLanguage", "Translation", new {language}, null)
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
