﻿﻿@using RefugeeHousing.Models
@using RefugeeHousing.Translations
@using Resources
﻿@using RefugeeHousing.Translations
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Refugee Housing Project</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.css">
  <script src="/Scripts/require.js"></script>
    <script type="text/javascript">
        define('translationConfig', [], function() {
            return {
                noDetailsAvailableForInput: '@LocalizedText.NoDetailsAvailableForInput',
                needMoreSpecificAddress: '@LocalizedText.NeedMoreSpecificAddress',
                useLocationAutocompleteForInput: '@LocalizedText.UseLocationAutocompleteForInput'
            };
        });

        require.config({
            baseUrl: "/scripts",
            paths: {
                'jquery': "jquery-1.10.2.min",
                'jquery.validate': "jquery.validate",
                'jquery.validate.unobtrusive': "jquery.validate.unobtrusive",
                'datatables.net': "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min",
                'datatables': 'https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min',
                'googlemaps': 'https://maps.googleapis.com/maps/api/js?libraries=places&key=' + '@(System.Web.Configuration.WebConfigurationManager.AppSettings["GoogleApiKey"])'
            },
            shim: {
                'jquery.validate': ['jquery'],
                'jquery.validate.unobtrusive': ['jquery', 'jquery.validate']
            }
        });
    </script>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
      window.cookieconsent_options = { "message": "@LocalizedText.CookieConsentBanner", "dismiss": "@LocalizedText.CookieConsentOk", "learnMore": "More info", "link": null, "theme": "dark-bottom" };
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(LocalizedText.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(LocalizedText.AllProperties, "Index", "Properties")</li>
                        <li>@Html.ActionLink(LocalizedText.MyProperties, "Index", "MyProperties")</li>
                        <li>@Html.ActionLink(LocalizedText.AddProperty, "Add", "MyProperties")</li>
                    }
                </ul>
                <div class="navbar-right">
                    @Html.Partial("_LoginPartial")
                    <ul class="nav navbar-nav language-options">
                        @foreach (Language language in Enum.GetValues(typeof (Language)))
                        {
                            <li>
                                @Html.ActionLink(language.GetName(),"SetLanguage", "Translation", new {language}, null)
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
